<div class="row">
    <div class="col col-md-3">
        <a href="/beefeater" class="beefeater"></a>
    </div>
    <div class="col col-md-9 header-link">
        <a href="/">party-club | анонс</a>
    </div>
</div>
<div class="row">
    <div class="col col-md-3">
        <div class="v_menu_b">
            <h3><a href="/izumrud">офисный центр - <strong>IZUMRUD</strong></a></h3>
            <h3><a href="/skyroom">party-club - <strong>SKYROOM</strong></a></h3>
            <h3><a href="/beefeater">art-pub - <strong>BEEFEATER</strong></a></h3>
        </div>
        <div class="baner">
            <div bz-widget="'bcPages.Widgets.Page'" data-settings="{'id': 257, templateUrl: '/views/widgets/pages/banner.html' }"></div>
        </div>
        <div class="discount">
            <a href="/"><img src="assets/img/discount.png" alt=""/></a>
            <a href="/"><img src="assets/img/dresscod.png" alt=""/></a>
        </div>
    </div>
    <div class="col col-md-9 content" bz-loading-container="loading"  style="padding: 0">
        <div class="mainpage">
            <nav class="navbar navbar-inverse h_menu" role="navigation">
                <div class="main-menu">
                    <div bz-widget="'bcMenu.Widgets.Menu'" data-settings="{ 'id': 22 }"></div>
                </div>
            </nav>
            <div class="slider">
                <div class="main-slider">
                    <div bz-widget="'bcPages.Widgets.Page'" data-settings="{'id': 256, templateUrl: '/views/widgets/pages/slider.html' }"></div>
                </div>
                <div class="main-article" bz-scroll>
                    <div bz-widget="'bcPages.Widgets.Page'" data-settings="{'id': 257, templateUrl: '/views/widgets/pages/banner.html' }"></div>
                </div>
            </div>
        </div>
        <div class="footer-link">
            <span><a href="/">Партнери<hr></a></span>
            <div class="col col-md-offset-2">
                <a href="/"><img src="assets/img/kiss.png" alt=""/></a>
                <a href="/"><img src="assets/img/lee.png" alt=""/></a>
                <a href="/"><img src="assets/img/vib.png" alt=""/></a>
                <a href="/"><img src="assets/img/kiss.png" alt=""/></a>
            </div>
        </div>
    </div>
</div>

