<div class="row">
    <div class="col col-lg-12">
        <div class="main_menu">
            <a href="/izumrud" class="izumrud"></a>
            <a href="/skyroom" class="skyroom"></a>
            <a href="/beefeater" class="beefeater"></a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col col-lg-12">
        <div class="main_menu_g">
            <a href="/izumrud" class="m_category"><img src="assets/img/izumrud.jpg" alt=""/></a>
            <a href="/skyroom" class="m_category"><img src="assets/img/skyroom.jpg" alt=""/></a>
            <a href="/beefeater" class="m_category"><img src="assets/img/beefeater.jpg" alt=""/></a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col col-lg-12">
        <div class="banner">
            <a href="/"><img src="assets/img/banner.png" alt=""/></a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col col-lg-12">
        <div class="discount">
            <a href="/"><img src="assets/img/discount.png" alt=""/></a>
            <a href="/"><img src="assets/img/dresscod.png" alt=""/></a>
        </div>
    </div>
</div>
