<div class="row">
    <div class="col col-lg-12">
        <div class="main_menu">
            <a href="/" class="izumrud"></a>
            <a href="/" class="skyroom"></a>
            <a href="/" class="beefeater"></a>
        </div>
    </div>
    <div class="main_menu_g">
        <a href="/" class="m_category"><img src="assets/img/izumrud.jpg" alt=""/></a>
        <a href="/" class="m_category"><img src="assets/img/skyroom.jpg" alt=""/></a>
        <a href="/" class="m_category"><img src="assets/img/beefeater.jpg" alt=""/></a>
    </div>
    <div class="clearfix"></div>
    <div class="banner">
        <a href="/"><img src="assets/img/banner.png" alt=""/></a>
    </div>
    <div class="clearfix"></div>
    <div class="discount">
        <a href="/"><img src="assets/img/discount.png" alt=""/></a>
        <a href="/"><img src="assets/img/dresscod.png" alt=""/></a>
    </div>
    <div class="clearfix"></div>
</div>