<div class="row">
    <div class="col col-md-3">
        <a href="/izumrud" class="izumrud"></a>
    </div>
    <div class="col col-md-9 header-link">
        <a href="/">party-club | анонс</a>
    </div>
    <div class="clearfix"></div>
        <div class="col col-md-3" style="padding-left: 0">
            <div class="v_menu">
                <h3><a href="/izumrud">офисный центр - <strong>IZUMRUD</strong></a></h3>
                <h3><a href="/skyroom">party-club - <strong>SKYROOM</strong></a></h3>
                <h3><a href="/beefeater">art-pub - <strong>BEEFEATER</strong></a></h3>
            </div>
            <div class="baner">
                <p>Вже давно відомо, що читабельний зміст буде заважати зосередитись людині, яка оцінює композицію сторінки. Сенс використання Lorem Ipsum полягає в тому, що цей текст має більш-менш нормальне розподілення літер на відміну від, наприклад, "Тут іде текст. Тут іде текст." Це робить текст схожим на оповідний. Багато програм верстування та веб-дизайну використовують Lorem Ipsum як зразок і пошук за терміном "lorem ipsum" відкриє багато веб-сайтів, які знаходяться ще в зародковому стані. Різні версії Lorem Ipsum з'явились за минулі роки, деякі випадково, деякі було створено зумисно (зокрема, жартівливі).</p>
            </div>
            <div class="discount">
                <a href="/"><img src="assets/img/discount.png" alt=""/></a>
                <a href="/"><img src="assets/img/dresscod.png" alt=""/></a>
            </div>
        </div>
        <div class="col col-md-9 content" bz-loading-container="loading"  style="padding: 0">
            <div class="mainpage">
                <nav class="navbar navbar-inverse h_menu" role="navigation">
                    <div class="main-menu">
                        <div bz-widget="'bcMenu.Widgets.Menu'" data-settings="{ 'id': 22 }"></div>
                    </div>
                </nav>
                <div class="slider"><img src="http://izumrud.ua2.biz/uploads/files/3c/0b/3c0b761262f16dfb8decae16e75fe116.jpg" alt=""/></div>
                <div class="s_page" bz-widget="'bcPages.Widgets.Page'" data-settings="{'id': 114 }"></div>
                <div bz-widget="'bcPages.Widgets.Page'" data-settings="{'zid': 114, templateUrl: '/views/widgets/pages/slider.html' }"></div>
            </div>
        </div>
    <div class="clearfix"></div>
</div>