
<!--MainContent-->
<div class="container-fluid main">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 sidebar" ng-include="'/views/block/sidebar.html'"></div>
            <div class="col-lg-9 main-content" bz-loading-container="loading">
                <div class="slide-reveal" app-view-segment="1"></div>
            </div>
        </div>
    </div>
</div>
<!--End MainContent-->


<!--Footer-->
<footer class="footer" ng-include="'/views/block/footer.html'">

</footer>
<!--End Footer-->
